@media only screen and (max-width: 1200px) {

	.header {
		width: 800px;
		height: 400px;
	}

	.menu {
		width: 800px;
		height: 300px;
	}

	.content {
		margin: 0;
		width: 800px;
		height: 700px;
		margin-top: 20px;
	}

	.footer {
		width: 800px;
		height: 500px;
	}
}