@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat';
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-track {
	background-color: #333333;
}

body::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 10px;
}

/* Desktop Styles */
.header-content {
	margin: 0 auto 5% auto;
	width: 70%;
	height: auto;
	overflow: hidden;
}

.content {
	margin: 5% auto;
	width: 70%;
}

.background-dark {
	width: 100%;
	background-color: #333333;
	background-image: url('/sources/images/backgrounds/background-dark.svg');
	background-size: cover;
}

.background-dark-2 {
	width: 100%;
	background-color: #333333;
	background-image: url('/sources/images/backgrounds/background-dark-2.svg');
	background-size: cover;
	background-position: 0;
}

.designers-bg {
	width: 100%;
	background-color: #333333;
	background-image: url('/sources/images/backgrounds/designers-bg.svg');
	background-size: cover;
	background-position: 0;
}

.background-light {
	width: 100%;
	background-color: white;
}

/* Navbar Styles */
.navbar {
	min-height: 95px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 75px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	transition: margin-top .25s;
}

.sticky {
	transition: margin-top .25s;
	background-color: #33333366;
	/* border-radius: 15px; */
	/* padding: 0 10%; */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px 7.5%;
	z-index: 999;
	margin-top: 0px;
}

.logo {
	background-image: url('/sources/icons/main_logo.svg');
}

.logo-image {
	height: 70px;
}

.anchors {
	margin-left: 1vw;
	display: flex;
	gap: 40px;
	align-items: end;
}

.anchor-block {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: end;
}

.anchor-block>.links-block {
	display: flex;
	gap: 40px;
}

.anchor {
	font-weight: 500;
	font-size: 14px;
	line-height: 32px;
	letter-spacing: 0.1px;
	color: white;
	text-decoration: none;
	transition: .5s all ease-out;
}

.anchor:hover {
	color: #e6fb9a
}

.contacts {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: end;
	margin-top: -30px;
	margin-bottom: 10%;
}

.contact {
	display: flex;
	gap: 5px;

}

.contact-dark {
	color: #252B42;
}

.phone-wrapper {
	position: absolute;
	top: 50px;
	right: 7.5%;
	display: flex;
	align-items: center;
	gap: 5px;
}

.phone-number {
	text-decoration: none;
	transition: .5s all ease-out;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2px;
	color: white;
}

.phone-number:hover {
	color: #e6fb9a
}

.footer-phone-dark {
	transition: .5s all ease-out;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2px;
	color: #252B42;
	text-decoration: underline;
}

.footer-mail-dark {
	text-decoration: none;
	transition: .5s all ease-out;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.2px;
	color: #252B42;
}

.mail {
	text-decoration: none;
	transition: .5s all ease-out;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.2px;
	color: white;
}

.mail:hover {
	color: #e6fb9a
}

.social-links {
	align-items: center;
	position: fixed;
	display: flex;
	gap: 10px;
	flex-direction: column;
	right: 15px;
	top: 35%;
}

.link-wrap {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 1px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .5s all ease-out;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 20%);
}

.link-wrap:hover {
	background-color: rgba(0, 0, 0, 50%);
}

.social-link {
	margin-top: 3px;
	cursor: pointer;
}

/* Первый блок */
.first-block {
	/* margin-top: 9%;
	margin-bottom: 10%; */
	color: white;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 35px;
	overflow-y: hidden;
}

.fb-title {
	font-weight: 500;
	font-size: 58px;
	line-height: 71px;
	letter-spacing: 0.2px;
}

.fb-subtitle {
	margin: 0;
	width: 25%;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.2px;
	color: #FAFAFA;
}

.order-button-light {
	width: fit-content;
	padding: 15px 40px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	transition: .15s all ease-out;
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.2px;

	color: #252B42;
	background-color: white;
}

.order-button-light:hover {
	color: white;
	background-color: #252B42;
}

.order-button-light:active {
	color: #252B42;
	background-color: white;
}

.order-button-dark {
	width: fit-content;
	padding: 15px 40px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	transition: .15s all ease-out;
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.2px;

	color: white;
	background-color: #252B42;
}

.order-button-dark:hover {
	color: #252B42;
	background-color: white;
}

.order-button-dark:active {
	color: white;
	background-color: #252B42;
}

.centered-button {
	text-align: center;
	margin: 0 auto;
}

/* Примеры работ */
.projects-title {
	font-weight: 500;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #252B42;
}

.projects-examples {
	margin: 0 auto;
	width: 100%;
}

/* Описание качества */
.description {
	display: flex;
	justify-content: center;
	gap: 80px;
}

.desc-item {
	width: 40%;
	display: flex;
	flex-direction: column;
	gap: 80px;
}

.desc-item-2 {
	width: 40%;
	display: flex;
	flex-direction: column;
	gap: 80px;
}

.desc-title-wrap {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.desc-title {
	font-weight: 500;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: 0.2px;
	color: #252B42;
}

.desc-subtitle {
	font-weight: 400;
	font-size: 17px;
	line-height: 20px;
	letter-spacing: 0.2px;
	color: #252B42;
}

/* Преимущества */
.adv-title {
	font-weight: 500;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #252B42;
}

.adv-items {
	margin-top: 5%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 30px;
}

.adv-items-col {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.adv-item {
	display: flex;
	gap: 20px;
	height: fit-content;
}

.adv-pointer {
	min-width: 50px;
	max-width: 50px;
	min-height: 50px;
	max-height: 50px;
	border-radius: 50%;
	background-color: #252B42;
}

.adv-item-title-wrap {
	width: 80%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.adv-item-title {
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.1px;
	color: #252B42;
}

.adv-item-subtitle {
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.2px;
	color: #737373;
}

/* Каталог изделий */
.catalog {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 40px;
}

.catalog-title {
	font-weight: 500;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	letter-spacing: 0.2px;
	color: #252B42;
}

.catalog-wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 30px;
	margin-bottom: 5%;
}

.catalog-item {
	width: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.catalog-example {
	transition: 0.3s all ease-out;
	cursor: pointer;
	height: 250px;
	width: 85%;
}

.catalog-example:hover {
	transform: scale(1.3);
}

.catalog-name {
	margin-top: 10%;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.1px;
	color: #252B42;
}

.catalog-price-wrap {
	display: flex;
	gap: 5px;
}

.catalog-price-prefix {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.1px;
	color: #737373;
}

.catalog-price {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.1px;
	color: #252B42;
}

/* Описание преимуществ */

.adv-description {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.adv-desc-wrap {
	display: flex;
	align-items: center;
}

.adv-desc-col {
	display: flex;
	flex-direction: column;
	margin-top: 5%;
	gap: 30px;
}

.adv-desc-title {
	font-weight: 500;
	font-size: 40px;
	color: #FFFFFF;
	text-align: center;
}

.adv-desc-subtitle {
	width: 85%;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.2px;
	color: #FFFFFF;
}

.adv-desc-item {
	display: flex;
	align-items: center;
	gap: 15px;
}

.adv-desc-item-pointer {
	min-width: 50px;
	max-width: 50px;
	min-height: 50px;
	max-height: 50px;
	border-radius: 50%;
	background-color: white;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 18px;
	font-weight: 700;
}

.adv-desc-item-name {
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.1px;
	color: #FFFFFF;
}

/* Расчёт стоимости */
.double-bg-wrap {
	display: flex;
	height: 100%;
}

.order-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.form-title {
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: 0.2px;
	color: #252B42;
}

.form-element {
	width: 100%;
	height: 50px;
	padding: 0 20px;
	background-color: #F9F9F9;
	border: 1px solid #E6E6E6;
	border-radius: 5px;
}

.textarea {
	padding: 20px 20px;
	min-height: 150px;
	resize: none;
}

/* Сотрудничество */
.cooperation-wrap {
	width: 70%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 40px;
}

.coop-title {
	font-weight: 500;
	font-size: 40px;
	letter-spacing: 0.2px;
	color: #FFFFFF;
}

.coop-subtitle {
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 0.2px;
	color: #FFFFFF;
}

.coop-list {
	color: white;
	list-style-type: disc;
}

.coop-form {
	width: 50%;
}

/* Напишите нам */
.contact-us-wrap {
	margin: auto auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contact-us-col,
.contact-us-col-2 {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.contact-us-col {
	gap: 35px;
	margin: auto;
}

.contact-us-title {
	font-weight: 500;
	font-size: 40px;
	letter-spacing: 0.2px;
	color: #252B42;
}

.contact-us-subtitle {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.2px;
	color: #252B42;
}

.contact-us-col-2-wrapper {
	display: flex;
	gap: 50px;
}

.contact-us-subcol {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.contact-us-item {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.contact-us-item-divider {
	width: 50px;
	border: 1px solid #23A6F0;
}

.contact-us-item-title {
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 0.1px;
	color: #252B42;
}

.contact-us-item-subtitle {
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.1px;
	color: #252B42;
}

.footer-block {
	display: flex;
	align-items: center;
	gap: 25px;
}

.product-card {
	position: relative;
	height: 200px;
	overflow: hidden;
}

.product-card img {
	width: 100%;
}